body {
  margin: 0;
  font-family: 'Netflix Sans';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Netflix Sans';
  src: url('./assets/netflix-sans-font/NetflixSans-Medium.otf');
  src: url('./assets/netflix-sans-font/NetflixSans-Bold.otf') format('embedded-opentype'),
        url('./assets/netflix-sans-font/NetflixSans-Regular.woff2') format('woff');
        font-weight: normal;
        font-style: normal;
      }