.navbar {
  width: 100%;
  color: white;
  font-size: 1rem;
  position: fixed;
  top: 0;
  z-index: 999;
  background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
}

.navbar.scrolled {
  transition:ease-in-out 500ms;
  background-color: #141414;
}

.navbar .container {
  padding: 0px 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

.navbar .container .left {
  display: flex;
  align-items: center;
}

.navbar .container .left img {
  height: 55px;
  margin-right: 40px;
}

.navbar .container .left span {
  margin-right: 20px;
  cursor: pointer;
  font-family: 'Netflix Sans';
}

.navbar .container .right {
  display: flex;
  align-items: center;
}

.navbar .container .right .icon {
  margin: 0px 15px;
  cursor: pointer;
}

.navbar .container .right span {
  margin-right: 20px;
  cursor: pointer;
}

.navbar .container .right img {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}

.navbar .container .right .profile .options {
  display: none;
  background-color: #141414;
  border-radius: 5px;
}

.navbar .container .right .profile span {
  padding: 10px;
  cursor: pointer;
}

.navbar .container .right .profile:hover .options {
  display: flex;
  flex-direction: column;
  position: absolute;
}