.row{
    margin-left: 2.5rem;
}

.row-title{
    padding-left: 40px;
}

.row-posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px 40px 40px;
}

.row-posters::-webkit-scrollbar{
    display: none;
}

.row-poster{
    object-fit: contain;
    width: 100%;
    max-height: 140px;
    margin-right: 10px;
    transition: transform 450ms;
    border-radius: 2px;
}

.row-poster:hover{
    transform: scale(1.5);
}

.trailer-container{
    position: absolute;
    top: 0rem;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgb(0 0 0 / 72%);
    justify-content: center;
}

.trailer-info{
    width: 55%;
    height: 500px;
    display: flex;
    background-color: #181818;
    border-radius: 2px;
    flex-direction: column;
}

.close-btn{
    align-self: flex-end;
    margin: 10px;
}

.movie-desc{
    font-weight: 400;
    font-size: 0.8rem;
    padding: 3rem;
    letter-spacing: 0.02rem;
    line-height: 1.2rem;
}
